body {
    background-color:rgb(183, 106, 255);
    border: solid 150px rgb(33, 1, 56);
    border-top: 0;
    border-bottom: 0; 
    height: 100vh;
}

h1 {
    color: white;
    background-color: indigo;
    display: flex;
    width: 550px;
    border-radius: 20px;
    justify-content: center;
    margin: auto;
}

p{
    color: white;
    background-color: indigo;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 5px indigo;
    border-radius: 20px;
    padding: 3px;
    width: 550px;
    margin: auto;
    font-size: 20px;

}

ul {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: indigo;
    border: solid;
    border-radius: 20px;
    width: 200px;
    padding: 20px;
    
}

h2 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 500px;
    background-color: indigo;
    border: solid indigo; 
    border-radius: 20px;
    padding: 20px;
}

div {
    color: white;
    text-align: left;
    background-color: indigo;
    margin: 10px auto;
    width: 550px;
    border-radius: 20px;
}

button {
    color: white;
    background-color: blue;
    display: flex;
    justify-content: center;
    text-align: centerS;
    margin: auto;
    width: 550px;
    padding: 20px;
    border-radius: 20px;
}
