body {
    display: flex;
    flex-direction: column;
    margin: 20px 150px 0 150px;
    justify-content: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h1 {
    display: flex;
    justify-content: center;
    background-color: gray;
    border-radius: 5px;
}
p {
    display: flex;
    justify-content: center;
    background-color: gray;
    border-radius: 5px;
}
ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    border-radius: 5px;
}
h2 {
    display: flex;
    justify-content:center;
    background-color: gray;
    border-radius: 5px;
}
p1 {
    display:flex;
    justify-content: center;
    background-color: gray;
    border-radius: 5px;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    border-radius: 5px;
}
.statements {
    display: flex;
    justify-content: center;
    align-items: left;
    background-color: gray;
    border-radius: 5px;
}